* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    font-size: 62.5%;
}

body {
    width: 100%;
}

header {
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    line-height: 2.8em;
    padding: 0 1em 1em 1em;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-container__logo {
    color: #28352f;
    font-weight: bold;
}

.header-container__nav {
    padding: 0.5em 1em;
}

.header-container__nav-list {
    display: flex;
    list-style: none;
}

.header-container__nav-list-item {
    display: none;
}

.header-container__nav-list-item-burger .burger-menu {
    width: 1.4em;
    margin: 0.25em;
    background-color: #acb7c3;
    height: 4px;
    border: 2px solid #acb7c3;
}

.hero-container {
    background-image: url(../Templates/header-illsutration-mobile.svg);
    background-size: cover;
    padding: 6em 4em 0 4em;
    text-align: center;
}

.hero-container__heading {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 1rem;
}

.hero-container__work-title {
    font-size: 4.5em;
    font-weight: bold;
    color: greenyellow;
    padding-bottom: 5rem;
}

.hero-container__intro {
    font-size: 2.1em;
    padding-bottom: 4rem;
}

.hero-container__social-icons-list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.hero-container__social-icons-list-item {
    padding: 0 2em 0 0;
}

.hero-container__social-icons-list-item svg {

}