@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  font-weight: 600;
  line-height: 2.8em;
  padding: 0 1em;
}

.header-container__logo {
  color: #28352f;
  font-weight: bold;
}

.header-container__nav {
  padding: 0.5em 1em;
}

.header-container__nav-list {
  display: flex;
  list-style: none;
}

.header-container__nav-list-item {
  display: none;
}

.header-container__nav-list-item-burger .burger-menu {
  width: 1.4em;
  margin: 0.25em;
  background-color: #acb7c3;
  height: 4px;
  border: 2px solid #acb7c3;
}

.hero-container {
  width: 100%;
  background-image: url(../Templates/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 6em 2.4em 0 2.4em;
  text-align: center;
}

.hero-container__details {
  width: 100%;
}

.hero-container__heading {
  padding: 0;
  font-size: 4em;
  font-weight: bold;
  line-height: 1.3em;
  color: #172b4d;
  flex-grow: 0;
}

.hero-container__work-title {
  padding-bottom: 3.6rem;
  font-size: 4em;
  font-weight: bold;
  line-height: 1.2em;
  color: #36b376;
}

.hero-container__intro {
  padding-bottom: 2em;
  text-align: center;
  font-size: 2em;
  line-height: 2.8rem;
  color: #172b4d;
  font-weight: 400;
}

.hero-container__social-icons-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 11em;
}

.hero-container__social-icons-list-item {
  padding: 0 2em 0 0;
}

.hero-container__social-icons-list-item path {
  background-color: #505f79;
}

.work-section {
  padding: 3em 2.2rem 0 2.6rem;
  text-align: center;
}

svg g {
  mix-blend-mode: multiply;
}

.work-section__heading {
  font-size: 4em;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  border-bottom: 1px solid #36b37e;
  border-radius: 0.2rem;
  border-width: 0.4rem;
  padding-bottom: 2rem;
}

.work-section__project-card {
  padding-bottom: 4em;
  margin-top: 2.4em;
  border: 2px solid #d0d9d4;
  border-radius: 8px;
}

.work-section__project-card-title {
  padding: 0.5em 0 0 0;
  font-size: 2.4rem;
  color: #3a4a42;
  line-height: 3.2rem;
}

.work-section__project-card-languages-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1em 1rem;
  margin-bottom: 3em;
}

.work-section__project-card-language {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: #3a4a42;
  letter-spacing: 0.03em;
  border: 1px solid #ebf0ee;
  border-radius: 0.4rem;
  padding: 1em 0.8em;
  /* background-color: #c1c7d0; */
  background-color: #ebf0ee;
}

.work-section__btn {
  text-decoration: none;
  font-size: 1.7rem;
  color: #fff;
  background-color: #36b376;
  /* border: 1px solid #ebf0ee; */
  border-radius: 4px;
  font-weight: 500;
  padding: 1em 1em;
}
