@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  font-weight: 600;
  line-height: 2.8em;
  padding: 0 0.1em 0 1em;
}

.header-container__logo {
  color: #28352f;
  font-weight: bold;
}

.header-container__nav {
  padding: 0.5em 0.5em;
}

.header-container__nav-list {
  display: flex;
  list-style: none;
}

.primary-navigation {
  position: fixed;
  z-index: 1000;
  inset: 0 0 57px 0;
  background: hsla(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  padding: 3em 0 0 2em;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  transform: translateX(100%);
  transition: transform 500ms ease-out;
}

.header-container__nav-list-item a {
  /* animation: fadein 1000ms ease-in forwards; */
  text-decoration: none;
  color: #28352f;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
  transition: transform 500ms ease-in;
}

.burger {
  cursor: pointer;
  z-index: 9999;
}

.header-container__nav-list-item-burger .burger-menu {
  width: 1.4em;
  margin: 0.25em;
  background-color: #acb7c3;
  height: 4px;
  border: 2px solid #acb7c3;
}

.mobile-nav-toggle {
  position: absolute;
  z-index: 9999;
  top: 1.2rem;
  right: 2rem;
  transition: 500ms ease-out;
}

.mobile-nav-toggle .rotate,
.rotate1,
.dissappear {
  transition: 500ms ease-out;
}

.mobile-nav-toggle[aria-expanded="true"] .rotate {
  transform: rotate(45deg) translate(6px, 6px);
  transition: 250ms ease-in;
}

.mobile-nav-toggle[aria-expanded="true"] .rotate1 {
  transform: rotate(-45deg) translate(6px, -6px);
  transition: 250ms ease-in;
}

.mobile-nav-toggle[aria-expanded="true"] .dissappear {
  opacity: 0;
  transition: 250ms ease-in;
}

.hero-container {
  width: 100%;
  background-image: url(../Templates/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 6em 2.4em 0 2.4em;
  text-align: center;
}

.hero-container__details {
  width: 100%;
}

.hero-container__heading {
  padding: 0;
  font-size: 4em;
  font-weight: bold;
  line-height: 1.3em;
  color: #172b4d;
  flex-grow: 0;
}

.hero-container__work-title {
  padding-bottom: 3.6rem;
  font-size: 4em;
  font-weight: bold;
  line-height: 1.2em;
  color: #36b376;
}

.hero-container__intro {
  padding-bottom: 2em;
  text-align: center;
  font-size: 2em;
  line-height: 2.8rem;
  color: #172b4d;
  font-weight: 400;
}

.hero-container__social-icons-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 11em;
}

.hero-container__social-icons-list-item {
  padding: 0 2em 0 0;
}

.hero-container__social-icons-list-item path {
  background-color: #505f79;
}

.chevron-down svg {
  border: 1px solid #3a4a42;
  border-radius: 50%;
  width: 60px;
  aspect-ratio: 1 / 1;
  padding: 1rem;
}

.chevron-down svg polygon {
  width: 30px;
}

/* Work section */
.work-section {
  padding: 3em 2.2rem 0 2.6rem;
  text-align: center;
}

svg g {
  mix-blend-mode: multiply;
}

.work-section__heading {
  font-size: 4em;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  border-bottom: 1px solid #36b37e;
  border-radius: 0.2rem;
  border-width: 0.4rem;
  padding-bottom: 2rem;
}

.work-section__project-card {
  padding-bottom: 4em;
  margin-top: 2.4em;
  border: 2px solid #d0d9d4;
  border-radius: 8px;
}

.work-section__project-card-title {
  padding: 0.5em 0 0 0;
  font-size: 2.4rem;
  color: #3a4a42;
  line-height: 3.2rem;
}

.work-section__project-card-languages-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1em 1rem;
  margin-bottom: 3em;
}

.work-section__project-card-language {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: #3a4a42;
  letter-spacing: 0.03em;
  border: 1px solid #ebf0ee;
  border-radius: 0.4rem;
  padding: 1em 0.8em;
  background-color: #ebf0ee;
}

.work-section__btn {
  text-decoration: none;
  font-size: 1.7rem;
  color: #fff;
  background-color: #36b376;
  border-radius: 4px;
  font-weight: 500;
  padding: 1em 1em;
}

/* About section */
.about-container {
  text-align: center;
  padding: 5em 0;
  width: 80%;
  margin: auto;
}

.about-container__heading {
  font-size: 3em;
  color: #172b4d;
  padding-bottom: 1em;
  font-weight: 700;
  line-height: 5.2rem;
}

.about-container__desc {
  font-size: 2em;
  padding-bottom: 1.5em;
  color: #42526e;
  line-height: 3.2rem;
}

.about-section__btn {
  text-decoration: none;
  font-size: 1.7rem;
  color: #fff;
  background-color: #36b376;
  border-radius: 4px;
  font-weight: 500;
  padding: 1em 1em;
}

/* Professional skills */
.professional-skills {
  display: grid;
  gap: 2em;
}

.languages-container {
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.languages-container__heading {
  color: #344563;
  line-height: 3.2em;
  font-weight: 600;
  font-size: 2.4em;
  text-align: center;
}

.languages-list {
  width: 100%;
  list-style: none;
  font-size: 1.2em;
  color: #36b37e;
  display: flex;
  justify-content: space-around;
}

.skill-item {
  border: 1px solid none;
  background-color: #fff;
  padding: 0.5em;
  border-radius: 8px;
}

.frameworks-container {
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frameworks-container__heading {
  color: #344563;
  line-height: 3.2em;
  font-weight: 600;
  font-size: 2.4em;
  text-align: center;
}

.frameworks-list {
  width: 100%;
  list-style: none;
  font-size: 1.2em;
  color: #36b37e;
  display: flex;
  justify-content: space-around;
}

.skills-container {
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-container__heading {
  color: #344563;
  line-height: 3.2em;
  font-weight: 600;
  font-size: 2.4em;
  text-align: center;
}

.skills-list {
  width: 100%;
  list-style: none;
  font-size: 1.2em;
  color: #36b37e;
  display: flex;
  justify-content: space-around;
}

.additional-info {
  padding: 2em 0.5em;
  color: #172b4d;
  font-size: 4em;
  line-height: 5.2rem;
  font-weight: 700;
  text-align: center;
}

/* Contact Form */
.form {
  width: 80%;
  margin: auto;
  display: grid;
  gap: 1em;
}

.input-cls {
  padding: 1em;
}

.submit-btn {
  text-decoration: none;
  font-size: 1.7rem;
  color: #fff;
  width: max-content;
  margin: 1em auto;
  background-color: #36b376;
  border-radius: 4px;
  font-weight: 500;
  padding: 1em 1em;
}

.footer {
  padding: 3em 2em;
}

.footer-container__social-icons-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.email {
  font-size: 2em;
  text-align: center;
}

.email-link {
  text-decoration: none;
  color: #42526e;
}

@media (min-width: 768px) {
  .header-container__logo {
    display: none;
  }

  .header-container__nav {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    display: none;
  }

  .primary-navigation {
    position: relative;
  }

  .header-container__nav-list-item {
    display: flex;
    padding: 0 1em;
  }

  .header-container__nav-list-item-burger {
    display: none;
  }

  .work-section {
    padding: 2em 5em;
  }

  .project-cards__container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
  }

  .professional-skills {
    width: 40%;
    margin: auto;
  }
}
